{% extends "./base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth %}
{% load account %}
{% load crispy_forms_tags %}


{% block head_title %}
    <title>{% trans "Sign Up" %}</title>
{% endblock %}

{% block entrance_box %}
    <!-- Logo -->
    <img src="{% static 'images/yelen_logo_horizontal.svg' %}" alt="Yelen Log Logo" class="logo-img">

    <!-- Title -->
    <h4 class="mb-4">{% trans "Create Your Yelen Log Account" %}</h4>

    <!-- Signup Form -->
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn login-btn w-100 mb-3">{% trans "Sign Up" %}</button>
    </form>

    <!-- Link to Login -->
    <div class="links text-center">
        <p>{% trans "Already have an account?" %} <a href="{% url 'account_login' %}">{% trans "Log in" %}</a></p>
    </div>
{% endblock %}
