/* Google Font: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* CSS Variables */
:root {

    --brand-font: "Poppins", sans-serif;
    --brand-dark: #192b38;
    --brand-blue: #2B4A61;
    --brand-lblue: #5692BF;
}


/* Global Styles: */

body {
    font-family: var(--brand-font) !important;
    background-color: white;
    margin: 1.5vh;
    min-height: 100vh;
}

/* Link styles */
a {
    text-decoration: none;
    color: var(--brand-lblue) !important;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--brand-blue) !important;
}


/* Login */

.login-body {
    background-color: var(--brand-dark);
}
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-box {
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    text-align: center;
}
/* Hide Forgot Password link  */
#id_password_helptext {
    display: none;
}



.login-btn {
    background-color: var(--brand-dark);
    color: white;
    border: none;
}

.login-btn:hover {
    background-color: var(--brand-blue);
    color:white
}

.login-logo {
    height: 8vh;
    width: auto;
  }

/* Signup */
/* Hide Email div on signup */
#div_id_email {
    display: none;
}

/* Navbar */

.logo-nav {    
    height: 6vh;
    width: auto;
  }

/*  Media queries */

/* Small, mobile devices */
@media screen and (max-width: 430px) {
    .login-wrapper {
    align-items: flex-start;
    padding-top: 4vh;
}
}